<p-toast></p-toast>
<nb-card>
  <nb-card-body>
    <p-toolbar>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="openNew()"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-confirmDialog></p-confirmDialog>
    <p-table [value]="Facts">
      <ng-template pTemplate="header">
        <tr>
          <th>client</th>
          <th>id</th>
          <th>statut</th>
          <th>dateEcheance</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-facturat>
        <tr>
          <td>{{ facturat.client }}</td>
          <td>{{ facturat.id }}</td>
          <td>{{ facturat.statut }}</td>
          <td>{{ facturat.dateEcheance | date: "shortDate" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>
